@use 'variables' as v;

@mixin completeCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

%bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@mixin display-button($bg-color, $color) {
  background-color: $bg-color;
  color: $color;

  &:hover {
    background-color: darken($bg-color, 10%);
  }
}

@mixin d($size) {
  @media only screen and (max-width: map-get(v.$devices, $size)) {
    @content;
  }
}

@mixin container($width: 100%) {
  max-width: v.$max-width-container;
  width: $width;
  margin: 0 auto;
}

@mixin flex($flex-direction: null, $gutter: null) {
  display: flex;
  flex-wrap: wrap;
  flex-direction: $flex-direction;
  gap: $gutter;
}

@mixin flex-complete-center {
  justify-content: center;
  align-items: center;
}

@mixin grid($cols: null, $size: null, $space: null) {
  display: grid;
  grid-template-columns: repeat($cols, $size);
  gap: $space;
}
